@import "../bootstrap/scss/functions";

$light: #f8fcfc;
$dark: #000000;
$primary: #c834ff;
$secondary: #2aa5fc;
$info: #fff600;
$success: #10a103;
$warning: #f7c104;
$danger: #e92500; 

@import "../bootstrap/scss/bootstrap";

@import "./variables_dark";

body {
    background-color: black !important;
}